.receitas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.receita {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    text-align: center;
}

.receita img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.receita h3 {
    color: #fc0015;
}

.receita p {
    font-size: 14px;
    color: #333;
}